/* Header Styles */
header {
    display: flex;
    align-items: center;
    background-color: #000;
    padding: 10px 20px;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    flex: 0 0 auto;
}

.logo img {
    height: 40px;
}

/* Navigation Menu Styles */
.nav-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.nav-menu li {
    margin: 0 15px;
}

.nav-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-menu a:hover, .nav-menu a:focus {
    color: #007BFF;
}

/* Mobile Menu Icon */
.menu-icon {
    display: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}
